$container-offset: 0px;
$content-width: 1920px;
$container: $content-width + $container-offset * 2;
$font-family: OpenSans, sans-serif;
$font-size: 14px;

$color_black: #000000;
$color_white: #ffffff;

$color_bg: $color_white;
$color_text: #2e3238;
