.search {
	position: relative;

	&__input {
		padding: 0px 28px 0px 8px;
		height: 100%;
		width: 100%;
		border: 1px solid #d5d8dd;
		border-radius: 4px;
		font-size: 14px;
		line-height: 100%;
		font-weight: 400;
		color: #abb1ba;
	}

	&__btn {
		position: absolute;
		top: 50%;
		right: 8px;
		padding: 2px;
		height: 20px;
		width: 20px;
		transform: translateY(-50%);

		&-icon {
			height: 16px;
			width: 16px;
			fill: #abb1ba;
		}
	}
}
